// color portfolio rami
$principalColor: #001c33;
$secondoColor: #dc3545;
$autreColor: #007ac4;


// color for titre et text
$textColor:  #383838;
$titreColor: #343434;

// hover Color
$hoverColor: #dc3545;

// background colors
$main-right: linear-gradient(to right, #e0e0e0, #fff);
$bgFooter : #6e41fe;
$bg-nav-left : linear-gradient(to right, #3A6073, #16222A);


// boutton color
$btnColor: #6e41fe;


// colors generale
$blackColor : #000;
$whiteColor : #fff;
